#toplevel-controls {
  float: right;
}

#toplevel-controls .caution {
  background-color: #d30;
}

#right-gutter {
  float: right;
  width: 250px;
}

ul.tweet-list {
  list-style: none;
}

ul.tweet-list li {
  margin-top: 0.5em;
}

.btn-cancel {
  background-color: #e60;
}

.btn-tweet {
  background-color: #09d;
}
